<div class="card">
    <div class="card-img-top">
        <img width="150px" src="{{sprites.front_default}}" alt="{{name}}">
    </div>

<div class="card-body">
    <h2 class="card-title">Name: {{name}}</h2>
    <p class="card-text">Weight: {{weight}}</p>
     <p class="card-text">Growth: {{height}}</p>
     <p class="card-text"><b>Skils:</b></p>
     <ul class="list-group">
     {{#each abilities}}
         <li class="list-group-item">{{ability.name}}</li>
     {{/each}}
      </ul>
</div>
</div>